.root{
  -fx-pref-width: 800;
  -fx-pref-height: 500;
  -fx-background-color: #FFFF;
}

#grid-pane{
  -fx-padding: 40, 40, 40, 40;
  -fx-vgap: 10;
  -fx-hgap: 10;
}

#login-button{
  -fx-pref-width: 100;
  -fx-pref-height: 40;
}

#signup-button{
  -fx-pref-width: 100;
  -fx-pref-height: 40;
}

#name-field{
   -fx-pref-height: 40;
 }

#email-field{
  -fx-pref-height: 40;
}

#password-field{
  -fx-pref-height: 40;
}

#main-vbox{
  -fx-padding: 10, 10, 10, 10;
  -fx-vgap: 30;
  -fx-hgap: 10;
}